<div class='row'>
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">

        <div class='row'> <h2>My Account</h2></div>
        <div class='row'>
            <div ng-show="message" id="login-alert" class="alert alert-danger"><h4>{{message}}</h4></div>
        </div>
        <form name="changePassword" ng-submit="changePass(changePassword.$valid)"  class="form-horizontal" role="form" novalidate>
            <div class="form-group user-group">
                <label for="oldPassword"><h4>Old Password</h4></label>
                <input required type='text' ng-model='oldpassword' ng-minlength=2 class="form-control has-error input-lg" name='oldpassword'>

                <div ng-show="changePassword.oldpassword.$invalid && !changePassword.oldpassword.$pristine" >
                    <p class='help-block'> <h4 class='text-danger'>Enter your old password.</h4></p>
                </div>
            </div>
        
            <div class="form-group user-group">
                <label for="newpassword1"><h4>New Password</h4></label>
                <input required type='text' ng-model='newpassword1' ng-minlength=2 class="form-control has-error input-lg" name='newpassword1'>

                <div ng-show="changePassword.newpassword1.$invalid && !changePassword.newpassword1.$pristine" >
                    <p class='help-block'> <h4 class='text-danger'>Enter a valid password </h4></p>
                </div>
            </div>       
            <div class="form-group user-group">
                <label for="newpassword2"><h4>New Password Again </h4></label>
                <input required type='text' ng-model='newpassword2' ng-minlength=2 class="form-control has-error input-lg" name='newpassword2'>

                <div ng-show="changePassword.newpassword2.$invalid && !changePassword.newpassword2.$pristine" >
                    <p class='help-block'> <h4 class='text-danger'>Enter a valid password </h4></p>
                </div>
            </div>         

            <div style='text-align:center;margin-top:25px'>
                <button  class="btn btn-success btn-lg" ng-disabled="changePassword.$invalid">Change Password</button>
            </div>
        
        </form>
    </div>

</div>
